.header > .container{
    width: 100%;
    height: 100%;
    line-height: 1;
    overflow: hidden;
}
.header > .container > .img-fluid{
    max-width: 100%;
    height: auto;
}
.header .container div#navtop nav#menutopo div ul#menu li a{
    color: white;
}