@media(min-width: 150px) and (max-width: 319.97px){
    .header .container .container-lg#navtop{
        width: 100%;
    }
    .header .container .container-lg#navtop #menutopo div ul#menu{
        text-align: center;
        margin-bottom: 6%;
    }
    .header .container .container-lg#navtop #menutopo{
        background: url(../image/bg_topmenu.png) center top no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    body{
        background: url(../image/main-bg.png) center top no-repeat fixed;
        background-size: 100% 100%;
        background-color: rgba(36, 35, 35, 0.938);
        cursor: url(../image/cursor/1.cur), default;
    }
}
@media(min-width: 320px) and (max-width: 424.98px){
    .header .container .container-lg#navtop{
        width: 100%;
    }
    .header .container .container-lg#navtop #menutopo div ul#menu{
        text-align: center;
        margin-bottom: 6%;
    }
    .header .container .container-lg#navtop #menutopo{
        background: url(../image/bg_topmenu.png) center top no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    body{
        background: url(../image/main-bg.png) center top no-repeat fixed;
        background-size: 100% 100%;
        background-color: rgba(36, 35, 35, 0.938);
        cursor: url(../image/cursor/1.cur), default;
    }
}
@media(min-width: 425px) and (max-width: 767.98px){
    .header .container .container-lg#navtop{
        width: 100%;
    }
    .header .container .container-lg#navtop #menutopo div ul#menu{
        text-align: center;
        margin-bottom: 6%;
    }
    .header .container .container-lg#navtop #menutopo{
        background: url(../image/bg_topmenu.png) center top no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    body{
        background: url(../image/main-bg.png) center top no-repeat fixed;
        background-size: 100% 100%;
        background-color: rgba(36, 35, 35, 0.938);
        cursor: url(../image/cursor/1.cur), default;
    }
}
@media(min-width: 768px) and (max-width: 991.98px){
    .header .container .container-lg#navtop{
        width: 100%;
    }
    .header .container .container-lg#navtop #menutopo div ul#menu{
        text-align: center;
        margin-bottom: 6%;
    }
    .header .container .container-lg#navtop #menutopo{
        background: url(../image/bg_topmenu.png) center top no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    body{
        background: url(../image/main-bg.png) center top no-repeat fixed;
        background-size: 100%;
        background-color: rgba(36, 35, 35, 0.938);
        cursor: url(../image/cursor/1.cur), default;
    }
}
@media(min-width: 992px){
    .header .container .container-lg#navtop{
        width: 70%;
        margin-top: -1%;
    }
    .header .container .container-lg#navtop #menutopo ul{
        background: url(../image/bg_topmenu.png) center top no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    body{
        background: url(../image/main-bg.png) center top no-repeat fixed;
        background-size: 100%;
        background-color: rgba(36, 35, 35, 0.938);
        cursor: url(../image/cursor/1.cur), default;
    }
}
#curso2 {
    cursor: url(../image/cursor/2.cur), default;
}
#curso1 {
    cursor: url(../image/cursor/1.cur), default;
}
/* css Chat */
.container-fluid div#chat div.p-3 div.collapse div#cardchat div.card-body div.container{
    width: 100%;
    padding: 0;
}
.container-fluid div#chat div.p-3 div.bttchat button#botaochat{
    background: url(../image/bttchat2.png) center no-repeat;
    border-radius: 10px;
}
.container-fluid div#chat div.p-3 div.collapse div#cardchat div.card-body div#tb td.txt{
    background: rgba(84, 221, 255, 0.8);
    border-radius: 20px;
    font-family: "Comic Sans MS";
    font-size: 14px;
    width: 80%;
}
.container-fluid div#chat div.p-3 div.collapse div#cardchat #spchat{
    background: url(../image/bttchat2.png) center no-repeat;
    background-size: 100%;
    text-align: center;
    font-style: italic;
    font-size: 15px;
}
.container-fluid div#chat div.p-3 div.collapse div#cardchat .card-footer .btn{
    background: url(../image/bttchat2.png) center no-repeat;
}